<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <h3>Let's play madlibs!</h3>
    <form action="/madlib">
        First, select a color:
        <input type="radio" name="color" value="red">Red
        <input type="radio" name="color" value="blue">Blue
        <br>
        Next, select an adjective:
        <select name="adjective">
            <option value="pretty">Pretty</option>
            <option value="friendly">Friendly</option>
        </select>
        <br>
        Input a noun:
        <input type="text" name="noun">
        <br>
        Input a person's name:
        <input type="text" name="person">
        <br>
        <input type="submit">
    </form>
</body>
</html>